
html,
body {
  background: oColorsGetColorFor(page, background);
}
body {
  margin: 0;
}

.page-full {
  overflow-y: scroll; // Force scrollbar to avoid repaints during page load
}

.blank-page {
  overflow-y: auto;
}

.layout__container {

  .layout--fullwidth & {
    max-width: none;
  }

  .o-header + & {
    margin-top: 2rem;
  }

  .layout--blankpage .o-header + & {
    margin-top: 0;
  }
}

