html,
body {
  background: oColorsGetColorFor(page, background);
}

.layout {

  body {
    margin: 0;
    // Force scrollbar to avoid repaints during page load
    overflow-y: scroll;
  }

  &--iframed {
    overflow-y: auto;
  }

  &--fullwidth {
    .layout__container {
      max-width: none;
    }
  }

  .o-header + &__container {
    margin-top: 2rem;
    .layout--blankpage & {
      margin-top: 0;
    }
  }

}
