{% set view.layout.fullWidth = false %}

{% extends 'layout.html' %}


{% block meta %}
<meta itemprop="image" content="http://image.webservices.ft.com/v1/images/raw/uk-election-2015-ci.herokuapp.com/uk/2015/graphics/map/constituency/medium/{{ constituency.id }}?source=ig_uk_ge15&format=png&width=300">
<meta property="og:image" content="http://image.webservices.ft.com/v1/images/raw/uk-election-2015-ci.herokuapp.com/uk/2015/graphics/map/constituency/medium/{{ constituency.id }}?source=ig_uk_ge15&format=png&width=300" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ constituency.name }} previous election result">
<meta name="twitter:description" content="2010 election result">
<meta name="twitter:image:src" content="http://image.webservices.ft.com/v1/images/raw/uk-election-2015-ci.herokuapp.com/uk/2015/graphics/map/constituency/medium/{{ constituency.id }}?source=ig_uk_ge15&format=png&width=300">
{% endblock %}

{% block title %}{{constituency.name}}{% endblock %}

{% block content %}
<nav class="breadcrumb">
<a href="{{ baseurl.site }}/uk/2015/results/">UK</a>&nbsp;>&nbsp;<a href="{{ baseurl.site }}/uk/2015/results/{{ region.slug }}">{{ region.name }}</a>
</nav>
<h1 class="o-ft-typography-title-large">Constituency: {{constituency.name}}</h1>
<img src="/uk/2015/graphics/map/constituency/medium/{{ constituency.id }}" alt="map showing {{constituency.name}} election result">
<dl>
  <dt>ONS ID</dt>
  <dd><a href="http://statistics.data.gov.uk/doc/statistical-geography/{{ constituency.id }}">{{ constituency.id }}</a></dd>
  <dt>BBC ID</dt>
  <dd>{{ constituency.bbc_id }}</dd>
  <dt>PA ID</dt>
  <dd>{{ constituency.pa_id }}</dd>
</dl>


{% for ward in wards %}
  {% if loop.first %}<h2>Wards</h2><ul id="wards">{% endif %}
  <li><a href="{{ baseurl.site }}/uk/2015/results/{{ region.slug }}/{{ constituency.slug }}/{{ ward.slug }}/{{ ward.ons_id }}">{{ ward.name }}</a></li>
  {% if loop.last %}</ul>{% endif %}
{% endfor %}


{% endblock %}
