{% if not view.layout.blankPage %}
<footer class="o-ft-footer" data-o-version="" data-o-component="ft-footer">
    <div class="o-ft-footer__row o-ft-footer__copyright o-ft-footer__col--wide">
        <p>&#xA9; THE FINANCIAL TIMES LTD 2014.</p>
        <p><abbr title="Financial Times">FT</abbr> and &apos;Financial Times&apos; are trademarks of The Financial Times Ltd.</p>
    </div>
    <div class="o-ft-footer__pearson">
        <div class="o-ft-footer__row o-ft-footer__col--wide">
            <div class="o-ft-footer__pearson-tagline" aria-label="Always Learning"></div>
            <div class="o-ft-footer__pearson-logo" aria-label="Pearson"></div>
        </div>
    </div>
</footer>
{% endif %}
