@import "o-grid/main";
@import "o-fonts/main";
@import "o-colors/main";

@import "var";

@import "graphics/party-elements";

@import "components/result-national-coalitions";
@import "components/result-national-overview";

.results-index-region {
  margin-top: 0;
  margin-bottom: 8px;
}

.results-index-headline {
  margin: 0;
  font-size: 1.8em;
  font-weight: normal;
  color: #74736c;
}