.o-header {
  font-size: 16px;
}
.o-header__nav a {
  &:hover,
  &:focus {
    color: #ffffff;
  }
}
.uber-index__child a {
  &:hover,
  &:focus {
    color: oColorsGetPaletteColor(pink-tint3);
  }
}

.o-ft-footer__link-lists,
.o-ft-footer__copyright {
  margin-top: 10px;
  margin-bottom: 10px;
}
