// Origami settings overrides
$o-ft-icons-is-silent: false;
$o-ft-buttons-is-silent: false;
$o-ft-forms-is-silent: false;
$o-fonts-is-silent: false;
$o-grid-is-silent: false;
$o-header-is-silent: false;
$o-colors-is-silent: true;
$o-grid-debug-mode: false;

@include oAssetsSetModulePaths((
  o-footer: '//build.origami.ft.com/files/o-ft-footer@^2.0.4',
  o-ft-icons: '//build.origami.ft.com/files/o-ft-icons@^2.3.4'
));
