// Code inside `@if $is-oldie {}` will compile inside oldie.css
$is-oldie: false !default;

$gutter: 20;

$text-sizes: (
  tinier:  11px,
  tiny:    12px,
  smaller: 13px,
  small:   14px
);

$nav-bg-color: mix(#e9decf, #f6e9d8, 20%);
$nav-text-color: #5F584D;
