// Code inside `@if $is-oldie {}` will compile inside oldie.css
$is-oldie: false !default;

$gutter: 20;

$text-sizes: (
  tinier:  11px,
  tiny:    12px,
  smaller: 13px,
  small:   14px
);

$font-heading: oFontsGetFontFamilyWithFallbacks(BentonSans);
$font-body: oFontsGetFontFamilyWithFallbacks(BentonSans);
$font-article-headline: oFontsGetFontFamilyWithFallbacks(MillerDisplay);
$font-article-body: oFontsGetFontFamilyWithFallbacks(BentonSans);

$nav-bg-color: mix(#e9decf, #f6e9d8, 20%);
$nav-text-color: #5f584d;

$conservative: #6da8e1;
$liberal-democrat: #ffc660;
$labour: #e25050;
$snp: #777777;
$plaid-cymru: #827996;
$ukip: #ca6dbf;
$green: #65a68c;
$sinn-fein: #99bf70;
$dup: #827996;
$sdlp: #827996;

$conservative-dark: #0087dc;
$liberal-democrat-dark: #fdbb30;
$labour-dark: #bf1f1f;
$snp-dark: #666666;
$plaid-cymru-dark: #54a19c;
$ukip-dark: #b3009d;
$green-dark: #008066;
$sinn-fein-dark: #008066;
$dup-dark: #443e71;
$sdlp-dark: #9cb157;

$other: #cccccc;
$other-dark: #999999;

$line-color: oColorsGetPaletteColor(pink-tint2);
$line-width--s: 1px;
$line-width--m: 1px;
$line-width--l: 1px;
