// Code inside `@if $is-oldie {}` will compile inside oldie.css
$is-oldie: false !default;

$gutter: 20;

$text-sizes: (
  tinier:  11px,
  tiny:    12px,
  smaller: 13px,
  small:   14px
);

$font-heading: oFontsGetFontFamilyWithFallbacks(BentonSans);
$font-body: oFontsGetFontFamilyWithFallbacks(BentonSans);
$font-article-headline: oFontsGetFontFamilyWithFallbacks(MillerDisplay);
$font-article-body: oFontsGetFontFamilyWithFallbacks(BentonSans);
$color-article-body: #222222;

$nav-bg-color: mix(#e9decf, #f6e9d8, 20%);
$nav-text-color: #5f584d;

$conservative: #6da8e1;
$liberal-democrat: #f0a330;
$labour: #e25050;
$snp: #f2d92d;
$plaid-cymru: #99d2d0;
$ukip: #ca6dbf;
$green: #65a68c;
$sinn-fein: #99bf70;
$dup: #827996;
$sdlp: #bed676;

$conservative-dark: #1369bf;
$liberal-democrat-dark: #c68024;
$labour-dark: #bf1f1f;
$snp-dark: #99891b;
$plaid-cymru-dark: #54a19c;
$ukip-dark: #b3009d;
$green-dark: #008066;
$sinn-fein-dark: #6a8d32;
$dup-dark: #443e71;
$sdlp-dark: #9cb157;

$other: #cec6b9;
$other-dark: #a7a59b;

$line-color: oColorsGetPaletteColor('pink-tint2');
$line-color-dark: oColorsGetPaletteColor('pink-tint3');
$line-width--s: 1px;
$line-width--m: 1px;
$line-width--l: 1px;
