.article-header {
  margin-bottom: 1em;

  &--center {
    text-align: center;
  }

  &__headline {

    @include oColorsFor(title, text);
    margin: 0;
    font-family: $font-article-headline;
    font-weight: normal;
    font-size: 2.4em;
    line-height: 1.15;

    &--large {
      font-size: 2.86em;
    }


  }

  &__summary {
    margin: 0.25em auto 0.25em 0;
    font-size: 1.25em;
    max-width: 690px;
    line-height: 1.15;
  }

  &__standfirst {

  }



  &__byline,
  &__dateline,
  &__date-modified {
    @include oColorsFor(muted, text);
    margin-top: 0;
    margin-bottom: 0;
  }

  &__byline {

  }

  &__dateline {

  }

  &__date-modified {
    margin: 1em auto 1em 0;
    font-size: 0.75em;
  }

  &--center &__summary,
  &--center &__standfirst,
  &--center &__date-modified {
    margin-left: auto;
  }

}
