.article-body {
  @include oColorsFor(body, text);
  font-family: $font-article-body;
  font-size: 16px;

  & > * {
    max-width: 630px;
    margin: 0 auto;
  }

  & > .o-grid-row {
    margin-left: auto;
    margin-right: auto;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 1em;
    max-width: 630px;
    font-size: 1em;
    line-height: 1.5;
  }

  a {
    @include oColorsFor(link, text);
    text-decoration: none;
    .o-hoverable-on &:hover {
      @include oColorsFor(link-hover, text);
    }
  }

  &__subhead {
    @include oColorsFor(title, text);

    margin-top: 1em;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0.1em;

    font-family: $font-heading;
    font-weight: normal;

    &h2 { font-size: 1.5em;  }

    &h3 { font-size: 1.22em; }

    &h4 { font-size: 1.15em; }

    &h5,
    &h6 { font-size: 1.05em; }

  }
}
