.article-body {
  /* @include oColorsFor(body, text); */
  // use slightly darker body text than Origami suggests
  color: #222222;

  font-family: $font-article-body;

  & > * {
    margin: 0 auto;
  }

  & > .o-grid-row {
    margin-left: auto;
    margin-right: auto;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 1em;
    font-size: 1em;
    line-height: 1.5;
    max-width: $copy-width-medium;
    @include oGridRespondTo($until: S) {
      line-height: 1.4;
    }
  }

  & > *,
  & > p {
    max-width: $copy-width-large;
    @include oGridRespondTo($until: L) {
      max-width: $copy-width-medium;
    }
    @include oGridRespondTo($until: M) {
      max-width: $copy-width-small;
    }
    @include oGridRespondTo($until: S) {
      max-width: $copy-width-x-small;
    }
  }

  a {
    @include oColorsFor(link, text);
    text-decoration: none;
    .o-hoverable-on &:hover {
      @include oColorsFor(link-hover, text);
    }
  }

  &__subhead {
    @include oColorsFor(title, text);

    margin-top: 1em;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0.1em;

    font-family: $font-heading;
    font-weight: normal;

    &h2 { font-size: 1.38em;  }

    &h3 { font-size: 1.3em; }

    &h4 { font-size: 1.22em; }

    &h5,
    &h6 { font-size: 1.105em; }

  }
}
