.battle-nav {

  max-width: 850px;
  margin: 0 auto;
  font-size: 0.9em;

  @include oGridRespondTo(M) {
    display: table;
  }

  &__item {
    border: 0 solid $line-color; // tint 2
    border-bottom-width: $line-width--s;
    display: block;
    @include oGridRespondTo(M) {
      border-bottom-width: 0;
      text-align: center;
      padding: 0 25px;
      display: table-cell;
      &:not(:first-child) {
        border-left-width: $line-width--s;
      }
    }
  }

  &__logo {

    line-height: 60px;
    width: 90px;
    display: inline-block;
    text-align: center;

    @include oGridRespondTo(M) {
      display: block;
      width: auto;
    }

    & > img {
      vertical-align: middle;
    }
  }
}
