.battle-nav {

  max-width: 850px;
  margin: -0.6em auto 1.5em;
  font-size: 0.9em;

  &__item {
    border: 0 dotted $line-color-dark;
    border-bottom-width: $line-width--s;
    display: block;
  }

  &__logo {

    line-height: 50px;
    width: 78px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;

    & > img {
      vertical-align: middle;
      height: 34px;
      width: auto;
    }
  }
}
