.figure {

  margin-top: 1em;
  margin-bottom: 1em;
  font-family: $font-body;
  font-size: round($copy-size-large * 0.8);

  @include oGridRespondTo($until: L) {
    font-size: round($copy-size-medium * 0.9);
  }

  @include oGridRespondTo($until: M) {
    font-size: round($copy-size-small * 0.9);
  }

  @include oGridRespondTo($until: S) {
    font-size: round($copy-size-x-small * 0.9);
  }


  &__title {
    border-bottom: 2px solid oColorsGetPaletteColor(pink-tint2);
    margin-bottom: 1em;
  }

  &__subtitle {

  }

  &__body {
    font-size: 1em;
  }

  &__footer {
    @include oColorsFor(muted, text);
    border-top: 1px solid oColorsGetPaletteColor(pink-tint2);
    font-size: 0.8em;
    padding: 0;
  }

}
