.figure {

  margin-top: 1em;
  margin-bottom: 1em;
  font-family: $font-body;
  font-size: round($copy-size-large * 0.8);

  @include oGridRespondTo($until: L) {
    font-size: round($copy-size-medium * 0.9);
  }

  @include oGridRespondTo($until: M) {
    font-size: round($copy-size-small * 0.9);
  }

  @include oGridRespondTo($until: S) {
    font-size: round($copy-size-x-small * 0.9);
  }


  &__title {
    border-bottom: $line-width--m solid $line-color;
    margin-bottom: 1em;
  }

  &__subtitle {
    color: oColorsGetPaletteColor(pink-tint5);
  }

  &__body {
    font-size: 1em;
  }

  &__footer {
    @include oColorsFor(muted, text);
    border-top: $line-width--s solid $line-color;
    font-size: 0.8em;
    padding: 0;
  }

}
