.figure {

  margin-top: 0;
  margin-bottom: 1.5em;
  font-family: $font-body;
  font-size: round($copy-size-large * 0.8);

  @include oGridRespondTo($until: L) {
    font-size: round($copy-size-medium * 0.9);
  }

  @include oGridRespondTo($until: M) {
    font-size: round($copy-size-small * 0.9);
  }

  @include oGridRespondTo($until: S) {
    font-size: round($copy-size-x-small * 0.9);
  }

  &__title {
    margin-bottom: 1em;
    margin-top: 0;
    padding-bottom: 0;
    &--ruled {
      border-bottom: $line-width--m solid $line-color;
    }
  }

  &__subtitle {
    color: oColorsGetPaletteColor(pink-tint5);
    margin-top: -1em;
    margin-bottom: 1em;
    font-weight: normal;
    font-size: 1em;
  }

  &__body {
    margin-top: 0.5em;
    font-size: 1em;
  }

  &__footer {
    color: oColorsGetPaletteColor(pink-tint4);
    font-size: 0.8em;
    padding: 0;
    &--ruled {
      border-top: $line-width--s solid $line-color;
    }
  }

}
