.results-national-overview {
  // border:1px solid black;
  font-size: 0.9em;
  h2 {
    font-size: 1.5em;
    margin-top: 8px;
  }
}

.results-national-overview__headings {
  margin-bottom: 12px;
}

.results-national-overview__seats,
.results-national-overview__change {
  font-weight: bold;
  text-align: left;
}

.results-national-overview__party {
  text-align: right;
}

.results-national-overview .results-national-overview__date-modified {
  color: oColorsGetPaletteColor(pink-tint4);
  font-size: 0.75em;
  clear: both;
}
.results-national-overview__bar-container {
  display: inline-block;
  text-align: left;
}

.results-national-overview__bar {
  display: inline-block;
  height: 20px;
}
