.result-table {
  width: 100%;
  margin-bottom: 2em;
  font-size: 0.9em;
/*   @include oGridRespondTo(\$until: M) {
  font-size: 0.9em;
}
@include oGridRespondTo(\$until: L) {
  font-size: 0.95em;
} */
}

.numeric-column {
/*  text-align:right; */
}

.visualisation {
  display: inline-block;
}

.rowhead {
  text-align: right;
}

.fixed-size-value {
  display: inline-block;
  width: 50px;
  text-align: right;
  padding-right: 10px;
}

.grid-table-data {
//  font-size: 0.9em;
}

.none {
    fill: none;
}

/*SVG stuff*/

.bar-label {
  font-size: 0.8em;
}

.party-bar {
  stroke: none;
}

.bar-marker {
  stroke: none;
  fill: #000000;
  fill-opacity: 0.05;
}

[data-seats],
.numeric-column {
  font-weight: bold;
}

.col-header {
  font-weight: 200;
}
