.results-national-usefulLinks {
  // background-color: oColorsGetPaletteColor(pink-tint1);
  // padding: 12px;
  border: 1px solid oColorsGetPaletteColor(pink-tint2);
  border-width: 1px 0;
  padding: 8px 0;
  .figure__header{
    h2 {
      margin-bottom: 0.5em;
    }
  }
  .figure__body {
    margin-top:0;
    li {
      list-style: none;
      margin-bottom: 4px;
    }
  }
}