.results-national-coalitions {
  //font-size: 0.9em;
}

.results-national-coalitions__group {
  margin-bottom: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e9decf;
}

.results-national-coalitions__coalition-party-block {
  display: inline-block;
  width: 50px;
  text-align: center;
  font-weight: bold;
  color: oColorsGetPaletteColor(white);
  margin-right: 4px;
  margin-bottom: 8px;
  padding: 2px 0 3px;
}

.results-national-coalitions__seat-count,
.results-national-coalitions__party-list {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.results-national-coalitions__seats,
.results-national-coalitions__majority {
  font-weight: bold;
}

@include oGridRespondTo($until: L) {
  .results-national-coalitions__seat-count,
  .results-national-coalitions__party-list {
    display: block;
  }

}
