{% extends 'article.html' %}

{% set stylesheet = 'pages/probable-coalitions.css' %}


{% block article_body %}
<div id="coalition-forecast" class="o-grid-row">
  <div data-o-grid-colspan="12 L6">
    <p>Which of the main parties is most likely to form a government after the next&nbsp;election?</p>
    <div id="main-visualisation"></div>
  </div>
  <div id="secondary-visualisation" data-o-grid-colspan="12 L6">
    <p>And what chance do the smaller parties have of participating in government after May&nbsp;7<sup>th</sup>?</p>
    <div id="sub-visualisation"></div>
  </div>
</div>
<div class="o-grid-row">
  <div class="figure" data-o-grid-colspan="center 12 M10 L6">
    <div class="figure__subtitle">A full break down of probable coalitions.</div>
    <div class="figure__body coalition-probablities-holder">
      <table class="coalition-probabilities">
            <thead>
              <tr>
                <th>Coalition</th>
                <th>Probability</th>
                </tr>
            </thead>
            <tbody>
          {% for coalition in coalitions %}
           <tr><td>{{ coalition.name }}</td><td>{{ coalition.probability }}%</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="figure__footer">
      <p>According to analysis by Populus/Hanover.</p>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
{% autoescape false %}
var coalitions = {{coalitions|json}};
{% endautoescape %}
if (cutsTheMustard) {
  addScript('{{ asset("js/coalition-forecast.js") }}', false, false);
}
</script>
{% endblock %}
