{% extends 'article.html' %}

{% set stylesheet = 'pages/coalition-calculator.css' %}

{% set view.article = {center:true} %}
{% block summary %}
{% endblock %}
{% block article_body %}
  <div class="scenarios" data-o-grid-colspan="12 M10 center">
  <p>
    <a href="http://elections.ft.com/uk/2015/projections">Polls suggest</a> that the <a href="http://www.ft.com/indepth/uk-general-election">UK general election</a> on May 7 will result in a hung parliament. A coalition, or a minority government backed by a &ldquo;confidence and supply&rdquo; deal with other parties, is <a href="http://www.ft.com/cms/s/0/89471a34-e8d0-11e4-87fe-00144feab7de.html">likely to come to power</a>. This graphic shows the scenarios possible based on the <a href="#" class="preset-adjustment selected"
    {% for party in efdata.data %}
    data-{{ party.Party }}="{{party.Seats}}"
    {% endfor %}>current&nbsp;projection</a> from <a href="http://www.electionforecast.co.uk">ElectionForecast.co.uk</a>. Compare this to the <a href="#" class="preset-adjustment"
    data-c="302"
    data-lab="256"
    data-ld="56"
    data-snp="6"
    data-dup="8"
    data-pc="3"
    data-sdlp="3"
    data-ukip="2"
    data-green="1"
    data-other="13">
    outgoing&nbsp;parliament</a> or create your own distribution of seats by adjusting the sliders below.
  </p>
  </div>
  <div class="seats-input js" data-o-grid-colspan="10 M10 L8 center" data-parties="ld,c,lab,snp"></div>
  <div class="coalition-display js" data-o-grid-colspan="12 M10 L8 center"></div>

  <div class="notes o-grid-row" data-o-grid-colspan="12 M10 L8 center">
    <p>Although 326 seats is a majority in the 650-seat House of Commons, Sinn F&eacute;in MPs do not take their seats and the Speaker and Deputy Speakers do not vote, so the number of seats needed to win a vote will be lower, probably 323.</p>
  </div>

{% include "./coalition-slider-handle.svg" %}
{% endblock %}

{% block scripts %}
<script>
var forecast = {{ efdata | json | safe }}
if (cutsTheMustard) {
  addScript('{{ asset("js/coalition-calculator.js") }}', false, false);
}
</script>
{% endblock %}
