<!-- START ge15 graphic -->
<div class="ge15-ftcom-figures">
  <div class="figure-wrapper figure-wrapper--state-of-play--js"></div>
</div>

<link href="http://{{hostname}}{{ asset("css/pages/ftcom.css") }}" rel="stylesheet">
<script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=fetch"></script>
<script src="http://{{hostname}}{{ asset("js/ftcom.js") }}"></script>
<!-- END ge15 graphic -->




<!-- OPTIONAL: hide the table body -->
<style> .ge15-ftcom-figures tbody { display: none; } </style>
