<div class="figure constituency-group constituency-group--slope o-grid-row" data-o-grid-colspan="12">
  <h2 class="article-body__subhead figure__title">
    Group A
  </h2>
  <!-- <div class="figure__body o-grid-row">
--  MAP + DESCRIPTION
    <div data-o-grid-colspan="12 S4 M3 L2">
      <div class="o-grid-row constituency-group__details">
        <div data-o-grid-colspan="hide S12" class="constituency-group__locator-map">
          <img src="locator-map.svg" style="" alt="">
        </div>
        <p data-o-grid-colspan="12" class="constituency-group__description">Yet, behind the civil-service reserve, there was always more than met the eye to Sir Stephen Wall.</p>
      </div>
    </div>
--  MAP + DESCRIPTION
--  SMALL MULTIPLES
    <div data-o-grid-colspan="12 S8 M9 L10">
      <div  class="o-grid-row">
--  INDIVIDUAL SLOPE
        <div class="constituency-group__slope" data-o-grid-colspan="4 M3 L2 XL2">
          <div class="constituency-group__slope-graphic">
--  SVG
            <svg class="slope" data-constituency="E14001022" viewBox="0 0 90 70" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            </svg>
--
          </div>
          <div class="constituency-group__constituency-name">Cumbernauld, Kilsyth and Kirkintilloch</div>
        </div>
--
        <div class="constituency-group__slope" data-o-grid-colspan="4 M3 L2 XL2">
          <div class="constituency-group__slope-graphic"></div>
          <div class="constituency-group__constituency-name">Gower</div>
        </div>
        <div class="constituency-group__slope" data-o-grid-colspan="4 M3 L2 XL2">
          <div class="constituency-group__slope-graphic"></div>
          <div class="constituency-group__constituency-name">Hackney South and Shorditch</div>
        </div>
        <div class="constituency-group__slope" data-o-grid-colspan="4 M3 L2 XL2">
          <div class="constituency-group__slope-graphic"></div>
          <div class="constituency-group__constituency-name">Name</div>
        </div>
        <div class="constituency-group__slope" data-o-grid-colspan="4 M3 L2 XL2">
          <div class="constituency-group__slope-graphic"></div>
          <div class="constituency-group__constituency-name">Name</div>
        </div>
        <div class="constituency-group__slope" data-o-grid-colspan="4 M3 L2 XL2">
          <div class="constituency-group__slope-graphic"></div>
          <div class="constituency-group__constituency-name">Name</div>
        </div>
        <div class="constituency-group__slope" data-o-grid-colspan="4 M3 L2 XL2">
          <div class="constituency-group__slope-graphic"></div>
          <div class="constituency-group__constituency-name">Name</div>
        </div>
        <div class="constituency-group__slope" data-o-grid-colspan="4 M3 L2 XL2">
          <div class="constituency-group__slope-graphic"></div>
          <div class="constituency-group__constituency-name">Name</div>
        </div>
        <div class="constituency-group__slope" data-o-grid-colspan="4 M3 L2 XL2">
          <div class="constituency-group__slope-graphic"></div>
          <div class="constituency-group__constituency-name">Name</div>
        </div>
        <div class="constituency-group__slope" data-o-grid-colspan="4 M3 L2 XL2">
          <div class="constituency-group__slope-graphic"></div>
          <div class="constituency-group__constituency-name">Name</div>
        </div>
        <div class="constituency-group__slope" data-o-grid-colspan="4 M3 L2 XL2">
          <div class="constituency-group__slope-graphic"></div>
          <div class="constituency-group__constituency-name">Name</div>
        </div>
        <div class="constituency-group__slope" data-o-grid-colspan="4 M3 L2 XL2">
          <div class="constituency-group__slope-graphic"></div>
          <div class="constituency-group__constituency-name">Name</div>
        </div>
        <div class="constituency-group__slope" data-o-grid-colspan="4 M3 L2 XL2">
          <div class="constituency-group__slope-graphic"></div>
          <div class="constituency-group__constituency-name">Name</div>
        </div>
        <div class="constituency-group__slope" data-o-grid-colspan="4 M3 L2 XL2">
          <div class="constituency-group__slope-graphic"></div>
          <div class="constituency-group__constituency-name">Name</div>
        </div>
        <div class="constituency-group__slope" data-o-grid-colspan="4 M3 L2 XL2">
          <div class="constituency-group__slope-graphic"></div>
          <div class="constituency-group__constituency-name">Name</div>
        </div>
        <div class="constituency-group__slope" data-o-grid-colspan="4 M3 L2 XL2">
          <div class="constituency-group__slope-graphic"></div>
          <div class="constituency-group__constituency-name">Name</div>
        </div>
      </div>
    </div>
  </div> -->
</div>
