<!DOCTYPE html>
<html class="core o-hoverable-on layout {% if view.layout.iframed %}layout--iframed {% endif %}{% if view.layout.blankPage %}layout--blankpage {% endif %}{% if view.layout.fullWidth %}layout--fullwidth {% endif %}" lang="en-GB">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="copyright" content="Financial Times" />
        <meta name="robots" content="index,follow" />
        <meta name="author" content="FT Interactive Graphics" />

        {# addScript function #}
        <script>function addScript(src,async,defer){var o=document.createElement('script');if(async){o.async=true;}if(defer){o.defer=true;}o.src=src;var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(o, s);return s;}</script>

        {# start chartbeat timer #}
        <script>var _sf_startpt=(new Date()).getTime()</script>

        {% include "./cut-the-mustard.html" %}

        {% include "./social-meta.html" %}

        {% block meta %}{% endblock %}

        {% include "./favicon.html" %}

        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% block stylesheets %}{% endblock %}
        <!--<![endif]-->
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="{{ asset('css/main-oldie.css') }}" />
        {% block oldIEstylesheets %}{% endblock %}
        <![endif]-->

        <meta name="format-detection" content="telephone=no" />

        <script>
        if (cutsTheMustard) {
            addScript('//cdn.polyfill.io/v1/polyfill.min.js', false, false);
            addScript('{{ asset("js/common.js") }}', true, true);
        } else {
            addScript('//cdn.polyfill.io/v1/polyfill.min.js?features=Document', false, false);
        }
        </script>

        {# IG Google Analytics account #}
        {% if flags.tracking %}
        <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-35229645-1', 'example.com');ga('require', 'displayfeatures');ga('send', 'pageview');</script>
        {% else %}
        <script>function ga(){}</script>
        {% endif %}

        {% block headscripts %}{% endblock %}
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">

        {% if flags.tracking %}
        <script src="http://s2.ft-static.com/scripts/392b9acc/bundles/tracking.js"></script>
        <noscript>
            <img alt="" border="0" width="1" height="1" src="http://track.ft.com/track/track.js?javascript=disabled"/>
            <img alt="" border="0" width="1" height="1" src="http://stats.ft.com/si/track.gif?WT.js=No"/>
        </noscript>
        {% endif %}

        {% block header%}
        {% include "./site-header.html" %}
        {% endblock %}

        <main class="layout__container layout__container--main">
        {% block content %}{% endblock %}
        </main>
        
        {% block footer%}
        {% include "./site-footer.html" %}
        {% endblock %}

        {% block scripts %}{% endblock %}

        {% if flags.tracking %}
        <script>
            {# Chartbeat #}
            var _sf_async_config={};_sf_async_config.uid = 14181;_sf_async_config.domain = 'ft.com';_sf_async_config.useCanonical = true;_sf_async_config.sections = 'Books';_sf_async_config.authors = 'Interactive';(function(){function loadChartbeat() {window._sf_endpt=(new Date()).getTime();var e = document.createElement('script');e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');document.body.appendChild(e);}var oldonload = window.onload;window.onload = (typeof window.onload != 'function') ?loadChartbeat : function() { oldonload(); loadChartbeat(); };})();
        </script>
        {% endif %}

    </body>
</html>
