<!DOCTYPE html>
<html class="core o-hoverable-on layout {{ view.layout.classes|join(' ') }} {% if view.layout.iframed %}layout--iframed {% endif %}{% if view.layout.blankPage %}layout--blankpage {% endif %}{% if view.layout.fullWidth %}layout--fullwidth {% endif %}" lang="en-GB">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{{ page.title }} - General Election 2015, FT.com{% endblock %}</title>
        <meta name="description" content="{% block description %}{{ page.summary }}{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="copyright" content="Financial Times" />
        <meta name="robots" content="index,follow" />
        <meta name="author" content="FT Interactive Graphics" />
        {% include "./add-script.html" %}

        {# start chartbeat timer #}
        <script>var _sf_startpt=(new Date()).getTime()</script>

        <meta property="ft.track:is_live" content="true"/>
        <meta property="ft.track:product" content="IG"/>
        <meta property="ft.track:microsite_name" content="elections.ft.com"/>
				{% if uuid %}
        <meta property="ft.track:uuid" content="{{ uuid }}"/>
        {% endif %}

        {% include "./cut-the-mustard.html" %}

        {% include "./social-meta.html" %}

        {% block meta %}{% endblock %}

        {% include "./favicon.html" %}

        {% include "./stylesheets.html" %}

        <meta name="format-detection" content="telephone=no" />

        <script>{% spaceless %}
        if(cutsTheMustard){
          addScript('https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Promise,fetch', false, false);
          addScript('{{ asset("js/vendor.js") }}', false, false);
          addScript('{{ asset("js/common.js") }}', false, false);
        }else{
          addScript('//cdn.polyfill.io/v2/polyfill.min.js?features=Document', false, false);
        }
        {% endspaceless %}</script>

        {% include "./tracking-ga.html" %}

        {% block headscripts %}{% endblock %}
    </head>
    <body itemscope itemtype="http://schema.org/WebPage" class="{{ view.layout.body.classes|join(' ') }}">

        {% include "./tracking-ft.html" %}

        {% block header%}
        {% include "./site-header.html" %}
        {% endblock %}

        <main class="layout__container layout__container--main">
        {% block content %}{% endblock %}
        </main>

        {% block footer%}
        {% include "./site-footer.html" %}
        {% endblock %}

        {% if bundle %}
        {% spaceless %}
        <script>
        if(cutsTheMustard){
            {% if Array.isArray(bundle) %}
            {% for b in bundle %}
              addScript('{{ asset("js/" + b) }}', false, false);
            {% endfor %}
            {% else %}
              addScript('{{ asset("js/" + bundle) }}', false, false);
            {% endif %}
        }
        </script>
        {% endspaceless %}
        {% endif %}

        {% block scripts %}{% endblock %}

        {% if flags.tracking %}
        <script>
            {# Chartbeat #}
            var _sf_async_config={};_sf_async_config.uid = 14181;_sf_async_config.domain = 'ft.com';_sf_async_config.useCanonical = true;_sf_async_config.sections = 'Books';_sf_async_config.authors = 'Interactive';(function(){function loadChartbeat() {window._sf_endpt=(new Date()).getTime();var e = document.createElement('script');e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');document.body.appendChild(e);}var oldonload = window.onload;window.onload = (typeof window.onload != 'function') ? loadChartbeat : function() { oldonload(); loadChartbeat(); };})();
        </script>
        {% endif %}
    </body>
</html>
