{# 
  This is just a mockup page to simulate a liveblog (not very accurately)
  for developing widgets in.
#}

{% extends 'layout.html' %}

{% block content %}
<style>
/* styles to imitate the right rail*/
.rightrail {
  width: 352px;
  margin: 0 auto;
  background-color: #f9e9da;
}
</style>

<h1>Liveblog mockup</h1>

<div class="rightrail">

  {# BEGIN WORDPRESS EMBED CODE (nb. asset urls will need to be made absolute #}
  <div class="ge15-liveblog-widgets">
    <div class="widget-wrapper widget-wrapper--state-of-play"></div>
    <div class="widget-wrapper widget-wrapper--votes-vs-seats"></div>
    <div class="widget-wrapper widget-wrapper--local-result"></div>
  </div>

  <link href="/css/pages/liveblog.css" rel="stylesheet">
  <script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=fetch"></script>
  <script src="/js/liveblog.js"></script>
  {# END WORDPRESS EMBED CODE #}

</div>
{% endblock %}
