<html>
{#
  This is just a mockup page to simulate a liveblog (not very accurately)
  for developing widgets in.
#}

<head>
<style>
body {
  background: #fff1e0;
}

.fake-right-rail {
  width: 352px;
  margin: 0 auto;
  background-color: #f9e9da;
}
</style>
</head>
<body>

<h1>Liveblog mockup</h1>

<div class="fake-right-rail">

<!-- START general election liveblog widgets -->

  <div class="ge15-liveblog-figures">
    <div class="figure-wrapper figure-wrapper--state-of-play--js"></div>
    <div class="figure-wrapper figure-wrapper--seat-result--js"></div>
    <div class="figure-wrapper figure-wrapper--votes-vs-seats--js"></div>
  </div>

  <link href="/css/pages/liveblog.css" rel="stylesheet">
  <script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=default,fetch"></script>
  <script src="/js/vendor.js"></script>
  <script src="/js/liveblog.js"></script>

<!-- END general election liveblog widgets -->

</div>

</body>
</html>
