<!-- START general election liveblog widgets -->
<div class="ge15-liveblog-figures">
  <div class="figure-wrapper figure-wrapper--state-of-play--js"></div>
  <div class="figure-wrapper figure-wrapper--seat-result--js"></div>
  <div class="figure-wrapper figure-wrapper--votes-vs-seats--js"></div>

  <div class="figure-wrapper">
    <div class="votes-vs-seats figure">
      <header class="figure__header">
        <h2 class="article-body__subhead figure__title">Exit poll</h2>
      </header>

      <img src="http://interactivegraphics.ft-static.com/static/sites/2015/ge15/exitPoll.png" alt="Exit poll" title="">
    </div>
  </div>
</div>

<link href="http://{{hostname}}{{ asset("css/pages/liveblog.css") }}" rel="stylesheet">
<script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=fetch"></script>
<script src="http://{{hostname}}{{ asset("js/liveblog.js") }}"></script>
<!-- END general election liveblog widgets -->
