<div data-version="{{ asset("js/liveblog.js") }}_{{ asset("css/pages/liveblog.css") }}"></div>

{% if stateOfPlay %}
  <aside class="state-of-play--js">
    {% include './state-of-play.html' with stateOfPlay only ignore missing %}
  </aside>
{% endif %}

{% if votesVsSeats %}
  <aside class="votes-vs-seats--js">
    {% include './votes-vs-seats.html' with votesVsSeats only ignore missing %}
  </aside>
{% endif %}

{% if seatResult %}
  <aside class="seat-result--js">
    {% include './seat-result.html' with seatResult only ignore missing %}
  </aside>
{% endif %}
