<div class="figure results-slope">
  <header class="figure__header">
    <h3 class="figure__title">National Change</h3>
  </header>
  <div class="figure__body slope-graphic">
    {%
      set nationalSlopeChartData = {
        slopeHeight: 200,
        slopeWidth: 130,
        slopeMargin: {top:10, left:10, bottom:10, right:120},
        slopeDomain: 300,
        slopes: nationalSlopes,
        pointRadius: 3
      }
    %}
    {% include "./result-slope.html" with nationalSlopeChartData only %}
  </div>
</div>
