{% extends 'layout.html' %}

{% block title %}Parties{% endblock %}


{% block content %}
<div class="o-grid-row">
<h1>Parties</h1>
{% for party in parties %}
  {% if loop.first %}<table class="o-table">
    <thead>
<tr>
  <th></th>
  <th colspan="2">Last</th>
  <th colspan="5">Projected</th>
  <th colspan="2">Actual</th>
</tr>
<tr>
  <th>Party</th>
  <th>seats</th>
  <th>seats %</th>
  <th>Low</th>
  <th>seats</th>
  <th>seats %</th>
  <th>change</th>
  <th>Hi</th>
  <th>seats</th>
  <th>seats %</th>
</tr>
    </thead>
    <tbody>
  {% endif %}
  <tr>
    <td>{{ party.full }}</td>
    <td>{{ party.elections.last.seats }}</td>
    <td>{{ party.elections.last.seats_pc | format('0,00%') }}</td>
    <td>{{ party.elections.ge15_projection.seats_lo }}</td>
    <td>{{ party.elections.ge15_projection.seats }}</td>
    <td>{{ party.elections.ge15_projection.seats_pc | format('0.00') }}%</td>
    <td>{{ party.elections.ge15_projection.seats_change }}</td>
    <td>{{ party.elections.ge15_projection.seats_hi }}</td>
    <td>{{ party.elections.ge15.seats }}</td>
    <td>{{ party.elections.ge15.seats_pc | format('0,00%') }}</td>
  </tr>
  {% if loop.last %}</tbody></table>{% endif %}
{% endfor %}
</div>

{% endblock %}
