
{% extends 'article.html' %}

{% set stylesheet = 'pages/projections.css' %}

{% set table_data = overview %}

{% block summary %}
<p class="article-header__summary" itemprop="description">{{ page.summary }}</p>
<!--<ul class="article-header__summary-list">
  <li>A hung parliament is likely</li>
  <li>Few viable coalitions but multiple ad hoc alliances possible</li>
  <li>Four key election battles will decide the outcome</li>
</ul>-->
{% endblock %}

{% block dateModified %}
<p class="article-header__date-modified" itemprop="dateModified">Data updated continuously. Projections last changed {{ page.dateModified | date('F j, G:i a') }}</p>
{% endblock %}

{% block article_body %}

<div class="o-grid-row">

  <div class="figure" data-o-grid-colspan="12">
    <h2 class="article-body__subhead figure__title">National seat projections</h2>
    <div class="figure__body o-grid-row">
      <div data-o-grid-colspan="12 M7 L8">
      {% include "./result-table.html" %}
      </div>
      <div data-o-grid-colspan="12 M5 L4">
        <p>Based on the latest data from <a href="http://electionforecast.co.uk">ElectionForecast.co.uk</a>, a team of university researchers using polling data to predict how seats will be distributed in the May 7 general election, this graphic shows the likely national outcome.</p>
        <p><a href="http://www.ft.com/indepth/uk-general-election">More election coverage »</a></p>
      </div>
    </div>
  </div>

  <div class="figure" data-o-grid-colspan="12">
    <h2 class="article-body__subhead figure__title">The key constituency battles</h2>
    <div class="figure__body o-grid-row">
      <div data-o-grid-colspan="12 M7 L7">
        <nav class="battle-nav">
          {% for group in groups %}
          <a href="#{{ group.slug }}" class="battle-nav__item fauxlink">
            <span class="battle-nav__logo">
              <img class="snp" src="{{ group.image }}">
            </span>
            <span class="fauxlink__target">{{ group.name }}</span>
          </a>
          {% endfor %}
        </nav>

      </div>
      <div data-o-grid-colspan="12 M5 L4 Loffset1">
        <p>With the UK&rsquo;s traditional party system fragmenting, the outcome of this election will be determined by the sum of four different battles.</p>
        <p>Each constituency&rsquo;s miniature chart compares the result of 2010 general election (or any subsequent by-election) to the current <a href="http://www.electionforecast.co.uk/tables/predicted_vote_by_seat.html">constituency-level projection</a> from ElectionForecast.co.uk.</p>
      </div>
    </div>
  </div>

  <div id="slope-groups" style="min-height:800px;">
    {% for group in groups %}
      <div class="figure constituency-group constituency-group--slope" data-o-grid-colspan="12">
        <h3 id="{{ group.slug }}" class="article-body__subhead figure__title" data-o-grid-colspan="12 M9 Moffset3 L10 Loffset2">{{ group.name }}</h3>

        <div class="figure__body">
          <div class="o-grid-row">

            <div class="constituency-group__summary-table" data-o-grid-colspan="12 S4 M3 L2">
              {% set table_data = group.partychanges %}
              {% include "./result-summary-table.html" %}
            </div>

            <div data-o-grid-colspan="12 S8 M9 L10" class="constituency-group__details">
              {{ group.description | safe }}
            </div>

          </div>

          <div class="o-grid-row">

            <div class="constituency-group__locator-map" data-o-grid-colspan="hide S4 M3 L2">
              <div class="constituency-group__locator-map-ratio" data-group="{{loop.index0}}"></div>
            </div>

            <div data-o-grid-colspan="12 S8 M9 L10">

              <div class="o-grid-row constituency-group__slopes" >
                {% for constituency in group.constituencies | sortBy('name') %}
                <div class="constituency-group__slope" data-o-grid-colspan="4 M3 L1 XL1">
                  <div class="constituency-group__slope-graphic" data-constituency="{{constituency.id}}" data-order="{{loop.index0}}"></div>
                  <div class="constituency-group__constituency-name">
                  {% if constituency.article %}
                    <a href="{{constituency.article}}">{{constituency.name}}</a>
                  {% else %}
                    {{constituency.name}}
                  {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>

            </div>

          </div>

        </div>
      </div>
    {% endfor %}
  </div>

</div>

{% endblock %}

{% block scripts %}
<script>
{% autoescape false %}
var battlegrounds = {{ groups | json }};
var coalitions = {{ coalitions | json }};
{% endautoescape %}
if (cutsTheMustard) {
  addScript('{{ asset("js/group-forecast-slopes.js") }}', false, false);
}
</script>
{% endblock %}
