
{% extends 'article.html' %}

{% set stylesheet = 'pages/projections.css' %}

{% block article_body %}

  <div id="battle-nav" class="figure constituency-group o-grid-row" data-o-grid-colspan="12">
    <h2 class="article-body__subhead figure__title">The battlegrounds</h2>
    <div class="battle-nav-links">
      <div id="battle-nav-intro" class="battle-nav-item">The FT has chosen four key battlegrounds that will decide the election</div>
      <a href="#snp">
        <div class="battle-nav-item battle-nav-item__link">
          <div class="battle-nav-item__logo">
            <img class="snp" src="//www.ft.com/ig/static/sites/2014/ge15/snp.png" alt="">
          </div>
          <span>SNP target seats</span>
        </div>
      </a>
      <a href="#marginals">
        <div class="battle-nav-item battle-nav-item__link">
          <div class="battle-nav-item__logo">
            <img class="labcon" src="//www.ft.com/ig/static/sites/2014/ge15/lab_con.png" alt="">
          </div>
          <span>Lab-Con marginals</span>
        </div>
      </a>
      <a href="#ukip">
        <div class="battle-nav-item battle-nav-item__link">
          <div class="battle-nav-item__logo">
            <img class="ukip" src="//www.ft.com/ig/static/sites/2014/ge15/ukip.png" alt="">
          </div>
          <span>Ukip target seats</span>
        </div>
      </a>
      <a href="#libdem">
        <div class="battle-nav-item battle-nav-item__link">
          <div class="battle-nav-item__logo">
            <img class="libdem" src="//www.ft.com/ig/static/sites/2014/ge15/libdem.png" alt="">
          </div>
           <span>Lib Dem seats at risk</span>
        </div>
      </a>
    </div>
  </div>

  <div id="slope-groups" class="o-grid-row" style="min-height:800px;">
    {% for group in data %}
      <div class="figure constituency-group constituency-group--slope o-grid-row" data-o-grid-colspan="12">
        <h2 class="article-body__subhead figure__title">{{ group.headline }}</h2>
        <div class="figure__body o-grid-row">
          <div data-o-grid-colspan="12 S4 M3 L3">
            <div class="o-grid-row constituency-group__details">
              <div class="constituency-group__summary-table" data-o-grid-colspan="12 M10 L8">
                {% set table_data = group.partychanges %}
                {% include "./result-summary-table.html" %}
              </div>
              <div class="constituency-group__locator-map" data-o-grid-colspan="hide M10 L8">
                <div class="constituency-group__locator-map-ratio" data-group="{{loop.index0}}"></div>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S8 M9 L9">
            <div class="o-grid-row">
              {% for constituency in group.constituencies %}
              <div class="constituency-group__slope" data-o-grid-colspan="4 M3 L1 XL1">
                <div class="constituency-group__slope-graphic" data-constituency="{{constituency.id}}" data-order="{{loop.index0}}"></div>
                <div class="constituency-group__constituency-name">{{constituency.name}}</div>
                </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>

{% endblock %}

{% block scripts %}
<script>
{% autoescape false %}
var battlegrounds = {{ dataString | json }};
{% endautoescape %}
if (cutsTheMustard) {
  addScript('{{ asset("js/group-forecast-slopes.js") }}', false, false);
}
</script>
{% endblock %}
