
{% extends 'article.html' %}

{% block title %}Seat Flow: Parliamentary seat change forecast{% endblock %}

 {% block article_header %}
{% endblock %}

{% block article_body %}
<div class="o-grid-row" data-o-grid-colspan="12">
  <h1 class="article-header__headline">Seat flow</h1>
  <div id="sankeyHolder" data-o-grid-colspan="12 M6 L6">
    <div id="sankey"></div>
    <span id="updated"></span>
    <div id="secondary-info" class="info-pane"></div>
  </div>
  <div id="sankey-description" class="" data-o-grid-colspan="12 M6 L6">
      <p id="inputs">
      Highlight key flows:
      <ul>
        <li class="o-grid-row">
          <div class="button-holder" data-o-grid-colspan="6">
            <button data-party="Liberal_Democrats" data-direction="from" class="chart-preset">Lib Dem losses</button>
          </div>
        </li>
        <li class="o-grid-row">
          <div class="button-holder"  data-o-grid-colspan="6">
            <button href="#" data-party="SNP" data-direction="to" class="chart-preset">SNP gains</button>
          </div>
        </li>
        <li class="o-grid-row">
          <div class="button-holder" data-o-grid-colspan="6">
            <button href="#" data-party="Labour" data-direction="to" class="chart-preset">Labour gains</button>
          </div>
          <div class="button-holder"  data-o-grid-colspan="6">
            <button data-party="Labour" data-direction="from" class="chart-preset">Labour losses</button>
          </div>
        </li>
        <li class="o-grid-row">
          <div class="button-holder"  data-o-grid-colspan="6">
            <button href="#" data-party="Conservatives" data-direction="to" class="chart-preset">Conservative gains</button></div>
          <div class="button-holder"  data-o-grid-colspan="6">
            <button href="#" data-party="Conservatives" data-direction="from" class="chart-preset">Conservative losses</button></div>
        </li>
        <li class="o-grid-row">
          <div class="button-holder"  data-o-grid-colspan="6">
            <button href="#" data-party="" data-direction="" class="chart-preset reset">Show the seat totals</button>
          </div>
        </li>
      </ul>
  </div>
  <div id="selection-info" data-o-grid-colspan="12 M6 L6" class="info-pane"></div>
</div>
<div class="description">
  <p>This graphic shows a predicted redistribution of parliamentary seats. It is based on open data from <a href="http://electionforecast.co.uk/">electionforecast.co.uk</a> and is updated regularly.</p>
</div>
<div class="notes">
    <p>The model used by <a href="http://electionforecast.co.uk">electionforecast.co.uk</a> combines data provided by YouGov with publicly released polls, historical election results, and data from the UK Census.</p>
    <p>Electionforecast.co.uk does not publish seat by seat predictions for Northern Ireland's 18 parliamentary seats these are included in &#8220;Others&#8221;</p>
</div>
{% endblock %}

{% block scripts %}
<script>
if (cutsTheMustard) {
  addScript('{{ asset("js/sankey.js") }}', false, false);
}
</script>
{% endblock %}

{% block stylesheets %}
<style>
button:hover{
  background-color: rgba(116, 115, 108, 0.14902);
}

button{
      width:100%;
  -webkit-appearance: none;
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: background-color;
  -webkit-transition-timing-function: ease;
  -webkit-writing-mode: horizontal-tb;
  align-items: flex-start;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(116, 115, 108, 0);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(46, 110, 158);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(46, 110, 158);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(46, 110, 158);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(46, 110, 158);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(46, 110, 158);
  cursor: pointer;
  display: inline-block;
  font-family: BentonSans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  min-height: 24px;
  letter-spacing: normal;
  line-height: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: rgb(46, 110, 158);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 0px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 0px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: background-color;
  transition-timing-function: ease;
  word-spacing: 0px;
  writing-mode: lr-tb;
}

#updated{
  color: rgb(119, 119, 119);
  display: inline;
  font-family: BentonSans, sans-serif;
  font-size: 12px;
  height: auto;
  line-height: 18px;
  width: auto;
}

svg{
  font-family: BentonSans, sans-serif;
}

.article-header__headline{
  /*text-align: center;*/
  margin-bottom: 0.3em;
  margin-top: -0.4em;
  border-bottom: 1px solid #a7a59b;
  margin: -0.6em 5px 0.2em 5px;
}

text.axis-label{
  font-weight:200;
  font-size: 1.2em;
}
.Conservatives{
  fill:#6da8e1;
  stroke:#6da8e1;
}
.Labour{
  fill:#e25050;
  stroke:#e25050;
}
.Liberal_Democrats{
  fill:#ffc660;
  stroke:#ffc660;
}
.UKIP{
  fill:#ca6dbf;
  stroke:#ca6dbf;
}
.Greens{
  fill:#65a68c;
  stroke:#65a68c;
}
.SNP{
  fill:#777;
  stroke:#777;
}
.Other{
  fill:#cccccc;
  stroke:#cccccc;
}
.Plaid_Cymru{
  fill:#54A19C;
  stroke:#54A19C;
}
rect.node {
  shape-rendering: crispEdges;
  cursor:pointer;
  stroke-width:0;
}
.node text {
  font-size:0.8em;
  cursor:pointer;
  text-shadow: 0px 0px 8px #FFF1DF;
}

text.link-label {
  font-size:0.8em;
  text-shadow: 0px 0px 8px #FFF1DF;
}

text.inactive{
  display:none;
}

tspan.seat-count{
  font-weight:bold;
}

rect.node{
  fill-opacity:1;
}

rect.node:hover{
  fill-opacity:0.6;
}

path.link {
  fill: none;
  stroke: #74736c;
  stroke-opacity: .2;
  cursor:pointer;
}

path.link.hint, path.link:hover{
  stroke-opacity: .5;
}

.info-pane{
  font-family: BentonSans, sans-serif;
  font-size:0.9em;
  display: none;
}

.selection-rect{
  fill-opacity:0;
  cursor:pointer;
}

#sankeyHolder{
  margin-top: 3px;
  /*float: right;*/
}

#sankey-description{
  margin-top: 3px;
  padding-left: 1em;
}

#inputs{
  padding-bottom: 0.5em;

}

.chart-preset.reset:before{
  opacity:0.5;
  padding-right:5px;
  content: url('http://image.webservices.ft.com/v1/images/raw/fticon:refresh?width=6&dpr=2&source=ge15');
}

#sankey-description > ul{
    margin: 0 0 0.5em 0.3em;
    padding: 0;
    font-family: BentonSans, sans-serif;
    line-height: 1.5em;
}

#sankey-description > ul > li{
  list-style: none;
}

.seatNum{
  font-weight: bold;
}

#selection-info{
  font-family: BentonSans, sans-serif;
  line-height: 1.6em;
  padding-left: 1em;
  margin-top: 2.8em;
}

#selection-info > div:first-child {
  border-top: 1px solid #a7a59b;
  padding-top: 6px;
}

.notes {
  font-family: BentonSans, sans-serif;
  color:#74736c;
  font-size: 0.7em;
  border-top: 1px solid #a7a59b;
  margin-top: 2em;
  padding-top: 1em;
  max-width:670px;
}

.description{
  font-family: BentonSans, sans-serif;
  max-width:670px;
}

</style>
{% endblock %}
