{% extends 'article.html' %}

{% block title %}Seat Moves: UK Parliament seat projection{% endblock %}

{#
  the stylesheet variable can be a String or Array of Strings
#}
{% set stylesheet = 'pages/seatmoves.css' %}

{% block article_body %}
<div class="o-grid-row" data-o-grid-colspan="12">
  <div id="sankey" data-o-grid-colspan="12 M6 L6"></div>
  <div id="sankey-description" class="" data-o-grid-colspan="12 M6 L6">
      <p id="inputs">
      Highlight key flows:
      <ul>
        <li class="o-grid-row">
          <div class="button-holder" data-o-grid-colspan="6">
            <button data-party="liberal-democrats" data-direction="from"
              class="chart-preset o-buttons o-buttons--uncolored o-buttons--big">Lib Dem losses</button>
          </div>
        </li>
        <li class="o-grid-row">
          <div class="button-holder"  data-o-grid-colspan="6">
            <button data-party="snp" data-direction="to"
              class="chart-preset o-buttons o-buttons--uncolored o-buttons--big">SNP gains</button>
          </div>
        </li>
        <li class="o-grid-row">
          <div class="button-holder" data-o-grid-colspan="6">
            <button data-party="labour" data-direction="to"
              class="chart-preset o-buttons o-buttons--uncolored o-buttons--big">Labour gains</button>
          </div>
          <div class="button-holder"  data-o-grid-colspan="6">
            <button data-party="labour" data-direction="from"
              class="chart-preset o-buttons o-buttons--uncolored o-buttons--big">Labour losses</button>
          </div>
        </li>
        <li class="o-grid-row">
          <div class="button-holder"  data-o-grid-colspan="6">
            <button data-party="conservatives" data-direction="to"
              class="chart-preset o-buttons o-buttons--uncolored o-buttons--big">Conservative gains</button>
          </div>
          <div class="button-holder"  data-o-grid-colspan="6">
            <button data-party="conservatives" data-direction="from"
              class="chart-preset o-buttons o-buttons--uncolored o-buttons--big">Conservative losses</button>
          </div>
        </li>
        <li class="o-grid-row">
          <div class="button-holder"  data-o-grid-colspan="6">
            <button data-party="" data-direction="" class="chart-preset reset o-buttons o-buttons--uncolored o-buttons--big">Show the seat totals</button>
          </div>
        </li>
      </ul>
      <div class="description"><b>What would happen if the UK General Election were held&nbsp;tomorrow?</b>
        <p>This graphic shows a projected redistribution of parliamentary seats based on the latest available polling data. It is updated regularly from <a href="http://www.electionforecast.co.uk/tables/predicted_probability_by_seat.html">constituency-level data</a> published on <a href="http://www.electionforecast.co.uk">electionforecast.co.uk</a>, a website run by a team of researchers from the University of East Anglia, the London School of Economics and Durham University.</p>
        <p>The totals shown in this graphic <a href="http://www.electionforecast.co.uk/#addingup">may not match</a> the <a href="http://elections.ft.com/uk/2015/projections">Election Forecast national projection</a> used elsewhere on FT.com because the model used here was designed to identify the most likely party to win in each seat, rather than the most likely national total for each party.</p>
      </div>
  </div>
</div>
<div class="notes o-grid-row" data-o-grid-colspan="12 center">
    <p>The model used by electionforecast.co.uk combines data provided by YouGov with publicly released polls, historical election results, and data from the UK Census.</p>
    <p>electionforecast.co.uk does not publish seat by seat predictions for Northern Ireland's 18 parliamentary seats these are included in &#8220;Others&#8221;</p>
</div>
{% endblock %}

{% block scripts %}
<script>
{% autoescape false %}
var forecast = {{ forecast.data|json }};
var updateTime = new Date({{ forecast.updated|json }});
var source = {{ source|json }};
{% endautoescape %}

if (cutsTheMustard) {
  addScript('{{ asset("js/sankey.js") }}', false, false);
}
</script>
{% endblock %}
