{% if not view.layout.blankPage %}
<footer class="election-footer">
    <div class="o-grid-row">
        Hello
    </div>
</footer>
<footer class="site-footer o-footer">
    <div class="o-footer__row o-footer__link-lists">
        <nav class="o-footer__col o-footer__link-list">
            <h3 class="o-footer__title">Services</h3>
            <ul>
                <li class="o-footer__link"><a href="//ft.com">Corporate subscriptions</a></li>
                <li class="o-footer__link"><a href="//ft.com">Syndication</a></li>
                <li class="o-footer__link"><a href="//ft.com">Conferences</a></li>
            </ul>
        </nav>
        <nav class="o-footer__col o-footer__link-list">
            <ul>
                <li class="o-footer__link"><a href="//ft.com">FT Collection</a></li>
                <li class="o-footer__link"><a href="//ft.com">Jobs</a></li>
                <li class="o-footer__link"><a href="//ft.com">Non-exec directors' club</a></li>
            </ul>
        </nav>
        <nav class="o-footer__col o-footer__link-list">
            <h3 class="o-footer__title">Tools</h3>
            <ul>
                <li class="o-footer__link"><a href="//ft.com">Portfolio</a></li>
                <li class="o-footer__link"><a href="//ft.com">Lexicon</a></li>
                <li class="o-footer__link"><a href="//ft.com">Topics</a></li>
                <li class="o-footer__link"><a href="//ft.com">Alerts Hub</a></li>
                <li class="o-footer__link"><a href="//ft.com">Daily Briefings</a></li>
            </ul>
        </nav>
        <nav class="o-footer__col o-footer__link-list">
            <h3 class="o-footer__title">Support</h3>
            <ul>
                <li class="o-footer__link"><a href="//ft.com">Help</a></li>
                <li class="o-footer__link"><a href="//ft.com">About us</a></li>
                <li class="o-footer__link"><a href="//ft.com">Site tour</a></li>
            </ul>
        </nav>
        <nav class="o-footer__col o-footer__link-list">
            
            <ul>
                <li class="o-footer__link"><a href="//ft.com">Contact us</a></li>
                <li class="o-footer__link"><a href="//ft.com">Sitemap</a></li>
            </ul>
        </nav>
        <nav class="o-footer__col o-footer__link-list">
            <h3 class="o-footer__title">Legal &amp; Advertising</h3>
            <ul>
                <li class="o-footer__link"><a href="//ft.com">Advertise with the FT</a></li>
                <li class="o-footer__link"><a href="//ft.com">Terms &amp; conditions</a></li>
                <li class="o-footer__link"><a href="//ft.com">Cookie &amp; privacy policy</a></li>
                <li class="o-footer__link"><a href="//ft.com">Copyright</a></li>
            </ul>
        </nav>
    </div>
    <div class="o-footer__row o-footer__copyright o-footer__col--wide">
        <p>&#xA9; THE FINANCIAL TIMES LTD 2015.</p>
        <p><abbr title="Financial Times">FT</abbr> and &apos;Financial Times&apos; are trademarks of The Financial Times Ltd.</p>
    </div>
    <div class="o-footer__pearson">
        <div class="o-footer__row o-footer__col--wide">
            <div class="o-footer__pearson-tagline" aria-label="Always Learning"></div>
            <div class="o-footer__pearson-logo" aria-label="Pearson"></div>
        </div>
    </div>
</footer>
{% endif %}
