{% if not view.layout.blankPage %}
{#<footer class="election-footer">
    <div class="o-grid-row">
        Hello
    </div>
</footer> #}
<footer class="site-footer o-footer">
    <div class="o-footer__row o-footer__link-lists">
        <nav class="o-footer__col o-footer__link-list">
            <h3 class="o-footer__title">Services</h3>
            <ul>
                <li class="o-footer__link"><a href="http://www.ft.com/corporate">Corporate subscriptions</a></li>
                <li class="o-footer__link"><a href="http://www.ft.com/syndication">Syndication</a></li>
                <li class="o-footer__link"><a href="https://www.ft-live.com/">Conferences</a></li>
            </ul>
        </nav>
        <nav class="o-footer__col o-footer__link-list">
            <ul>
                <li class="o-footer__link"><a href="http://www.exec-appointments.com/">Jobs</a></li>
                <li class="o-footer__link"><a href="http://www.non-execs.com/">Non-exec directors' club</a></li>
            </ul>
        </nav>
        <nav class="o-footer__col o-footer__link-list">
            <h3 class="o-footer__title">Tools</h3>
            <ul>
                <li class="o-footer__link"><a href="http://portfolio.ft.com/">Portfolio</a></li>
                <li class="o-footer__link"><a href="http://lexicon.ft.com/">Lexicon</a></li>
                <li class="o-footer__link"><a href="http://www.ft.com/topics">Topics</a></li>
                <li class="o-footer__link"><a href="http://markets.ft.com/alerts/keyword.asp">Alerts Hub</a></li>
                <li class="o-footer__link"><a href="http://nbe.ft.com/nbe/profile.cfm?segid=70121">Daily Briefings</a></li>
            </ul>
        </nav>
        <nav class="o-footer__col o-footer__link-list">
            <h3 class="o-footer__title">Support</h3>
            <ul>
                <li class="o-footer__link"><a href="http://www.ft.com/help">Help</a></li>
                <li class="o-footer__link"><a href="http://www.ft.com/aboutus">About us</a></li>
                <li class="o-footer__link"><a href="http://membership.ft.com/sitetour/">Site tour</a></li>
            </ul>
        </nav>
        <nav class="o-footer__col o-footer__link-list">

            <ul>
                <li class="o-footer__link"><a href="http://aboutus.ft.com/contact-us">Contact us</a></li>
                <li class="o-footer__link"><a href="//ft.com">Sitemap</a></li>
            </ul>
        </nav>
        <nav class="o-footer__col o-footer__link-list">
            <h3 class="o-footer__title">Legal &amp; Advertising</h3>
            <ul>
                <li class="o-footer__link"><a href="http://www.ft.com/advertising">Advertise with the FT</a></li>
                <li class="o-footer__link"><a href="http://www.ft.com/servicestools/help/terms">Terms &amp; conditions</a></li>
                <li class="o-footer__link"><a href="http://www.ft.com/servicestools/help/privacy">Cookie &amp; privacy policy</a></li>
                <li class="o-footer__link"><a href="http://www.ft.com/servicestools/help/copyright">Copyright</a></li>
            </ul>
        </nav>
    </div>
    <div class="o-footer__row o-footer__copyright">
      <div class="o-footer__col o-footer__col--full-width">
        <span>&#169; THE FINANCIAL TIMES LTD 2015.</span>
        <span><abbr title="Financial Times">FT</abbr> and ‘Financial Times’ are trademarks of The Financial Times Ltd.</span>
      </div>
    </div>
    <div class="o-footer__pearson">
        <div class="o-footer__row">
          <div class="o-footer__col o-footer__col--full-width">
            <div class="o-footer__pearson-tagline" aria-label="Always Learning"></div>
            <div class="o-footer__pearson-logo" aria-label="Pearson"></div>
          </div>
        </div>
    </div>
</footer>
{% endif %}
