<link rel="image_src" href="{{ page.meta.image | default('http://im.ft-static.com/m/img/social/og-ft-logo.png') }}">

{# FB/OpenGraph #}
<meta property="og:site_name" content="Financial Times">
<meta property="og:type" content="article">
<meta property="og:image" content="{{ page.meta.image | default('http://im.ft-static.com/m/img/social/og-ft-logo.png') }}">
<meta property="fb:page_id" content="8860325749">
{# google plus #}
<link href="https://plus.google.com/113457471429583444041/" rel="publisher">
