<div class="state-of-play figure">
  {% if headline %}
  <header class="figure__header figure__header--with-note">
    <h3 class="figure__title{% if showRosette %} figure__title--with-rosette{% endif %}">
      {# {% if showRosette %}<span class="figure__header__rosette"></span>{% endif %} #}
      {{headline}}
    </h3>

    <p class="figure__note">
      {% if numSeatsDeclared === 650 %}
        All 650 seats declared
      {% else %}
        {% if numSeatsDeclared > 0 %}
        <b>{{ numSeatsDeclared }}</b> of 650 seats declared
        {% else %}
        No seats declared
        {% endif %}
      {% endif %}

      {% if updated %}
      <span class="time"> – {{ updated | date('g:i a') }}</span>
      {% endif %}
    </p>
  </header>
  {% endif %}
  
  {% if linkURL %}<a href="{{ linkURL }}">{% endif %}
  <div class="figure__body">
    <table class="state-of-play__table">
      <thead>
        {% for party in parties %}
        <th style="background:{{party.colour}};border-bottom-color:{{party.secondaryColour}};width:{{100/parties.length}}%">
          {{party.label}}
          <span class="state-of-play__party-total">{% if numSeatsDeclared === 0 %}&ndash;{% else %}{{ party.totalWon }}{% endif %}</span>
        </th>
        {% endfor %}
      </thead>
      <tbody>
        <tr class="state-of-play__losses-row">
          {% for party in parties %}

            {% if party.minitable %}
            <td rowspan="2" style="width:{{100/parties.length}}%" class="state-of-play__minitable">
              <table>
              <tbody>
              {% for littleParty in party.minitable %}
              <tr{% if littleParty.fullName !== littleParty.shortName %} title="{{littleParty.fullName}}"{% endif %}>
                <td>{{littleParty.shortName}}</td>
                <td>{{littleParty.numSeats}}</td>
              </tr>
              {% endfor %}
              </tbody>
              </table>
            </td>
            {% else %}
            <td style="width:{{100/parties.length}}%">
              <span class="state-of-play__row-label">Lost&nbsp;to</span>
              <div class="state-of-play__seats">
                {% for seat in party.losses %}<span class="state-of-play__seat" title="{{ seat.tooltip }}" style="background:{{seat.winnerColour}}"></span>{% endfor %}
              </div>
            </td>
            {% endif %}

          {% endfor %}
        </tr>

        <tr class="state-of-play__net-change-row">
          {% for party in parties %}
          {% if !party.minitable %}
          <td style="width:{{100/parties.length}}%">
            <span class="state-of-play__row-label">Net&nbsp;change</span>
            <span class="state-of-play__net-change">{% if numSeatsDeclared === 0 %}&ndash;{% else %}{{ party.netChange | safe }}{% endif %}</span>
          </td>
          {% endif %}
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
  {% if linkURL %}</a>{% endif %}

  {% if linkText && linkURL %}
  <a class="state-of-play__link" href="{{linkURL}}">{{linkText}}</a>
  {% endif %}
</div>
