<div class="votes-vs-seats figure">

  {% if headline %}
  <header class="figure__header">
    <h2 class="article-body__subhead figure__title">{{ headline }}</h2>
  </header>
  {% endif %}

  <div class="figure__body">

    <div class="votes-vs-seats__key">
      <div class="votes-vs-seats__vote-percent" style="width:15px"></div>
      <div class="votes-vs-seats__key__label">% of popular vote</div>

      <div class="votes-vs-seats__seats-percent"></div>
      <div class="votes-vs-seats__key__label">% of seats won</div>
    </div>

    <div class="votes-vs-seats__chart">
      {# bottom layer: the full-width, tinted tracks #}
      <div class="votes-vs-seats__tracks">
        {% for party in parties %}
        <div class="votes-vs-seats__track"></div>
        {% endfor %}
      </div>

      {# 2nd layer: the vertical tick lines along the x-axis, inc. percent labels #}
      <div class="votes-vs-seats__ticks">
        {% for percentage in percentageTicks %}
        <div class="votes-vs-seats__tick" style="width:{{ 1000 / chartExtent }}%">
          <div class="votes-vs-seats__tick__label">{{ percentage }}</div>
        </div>
        {% endfor %}
      </div>

      {# top layer: everything else, arranged in "rows" #}
      <div class="votes-vs-seats__rows">
        {% for party in parties %}
        <div class="votes-vs-seats__row">

          {# party label and colour #}
          <div class="votes-vs-seats__party-label">
            {{party.name}}
            <span
              class="votes-vs-seats__party-colour"
              style="background:{{party.colour}}"></span>
          </div>

          {# bar for vote percentage #}
          <div
            class="votes-vs-seats__vote-percent"
            style="width:{{ (party.percentVoteWon) * (100 / chartExtent) }}%"
            title="{{party.percentVoteWon | round(1)}}% of votes won"></div>

          {# icon for seats percentage #}
          <div
            class="votes-vs-seats__seats-percent"
            style="left:{{ (party.percentSeatsWon) * (100 / chartExtent) }}%"
            title="{{party.percentSeatsWon | round(1)}}% of seats won"></div>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
