.o-header * {
  box-sizing: border-box;
}

.o-header {
  @include oColorsFor(page);
  background-image: none;
  max-height: none;
  min-height: 0;
}

.o-header__container {
  max-width: none;
  padding: 0;
}

.o-header__primary {
  height: auto;
  border-bottom: 1px solid oColorsGetPaletteColor(pink-tint3);
  border-color: rgba(0, 0, 0, 0.15);
  mix-blend-mode: luminosity;
}

.o-header__primary__left,
.o-header__primary__center,
.o-header__primary__right {
  text-align: center;
}
.o-header__primary__center {
  width: 100%;
}

.o-header__primary__left,
.o-header__primary__right {
  width: 58px;
  border: 1px solid oColorsGetPaletteColor(pink-tint3);
  border-color: rgba(0, 0, 0, 0.05);
  border-top: 0;
  border-bottom: 0;

  @include oGridRespondTo(S) {
    width: 80px;
  }

  @include oGridRespondTo(M) {
    width: 180px;
  }

  a {
    color: rgba(0, 0, 0, 0.35);
    cursor: pointer;
    .o-hoverable-on &:hover {
      color: #111111;
    }
  }
}

.o-header__primary__left {
  border-left: 0;
}

.o-header__primary__right {
  border-right: 0;
}

.o-header__primary-link {
  display: inline;
  padding: 15px 10px;
  .o-header__primary-label {
    vertical-align: middle;
    margin-left: 4px;
    font-size: 12px;
    text-transform: uppercase;

    @include oGridRespondTo($until:M) {
      display: none;
    }

    .o-hoverable-on &:hover {
      color: #000000;
    }

  }

  & + & {
    padding-left: 5px;
  }

}

.o-header__logo {
  margin: 0;

  a {
    padding: 6px 8px;
    display: inline-block;
    
    @include oGridRespondTo(M) {
      padding: 8px 10px;
    }

    // .o-header__container &,
    // .o-hoverable-on .o-header__container & {
    //   opacity: 0.8;

    //   &:focus,
    //   .o-hoverable-on &:hover {
    //     opacity: 1;
    //   }
    // }
  }

  img {
    height: 11px;
    margin-top: 6px;
    width: 133px;

    @include oGridRespondTo(S) {
      height: 13px;
      margin-top: 6px;
      width: 157px;
    }

    @include oGridRespondTo(M) {
      height: 18px;
      margin-top: 7px;
      width: 217px;
    }
  }
}

.o-header__container--secondary {
  background: $nav-bg-color;
  border-bottom: 1px solid oColorsGetPaletteColor(pink-tint3);
  border-color: rgba(0, 0, 0, 0.15);
  overflow-y: hidden;
  display: none;
  [data-o-header-current-panel="menu"] & {
    display: block;
  }
}

.o-header__secondary {
  background: transparent;
  text-align: center;
  display: block;
  z-index: 10;
  padding-left: 0;
  float: none;
  clear: both;
  padding-right: 0;
  width: 100%;
  height: auto;
  max-height: none;
}

.uber-index {
  margin: 0;
  padding: 0;
  text-align: left;
}

.uber-index ul,
.uber-index li {
  list-style: none;
}

$uber-nav-item-height: 39px;

.uber-index__children {
  padding: 0;
  margin: 0;
  margin-bottom: $uber-nav-item-height + 2px;
}

.uber-index__child {
  font-weight: 400;
  border-top: 1px solid oColorsGetPaletteColor(pink-tint3);
  border-color: rgba(0, 0, 0, 0.15);
}

.uber-index__header {
  font-size: 16px;
  padding: 3px 0;
}

.uber-index__header,
.uber-index a {
  line-height: $uber-nav-item-height;
  height: $uber-nav-item-height;
  color: $nav-text-color;
}

.uber-index a {
  text-decoration: none;
  display: block;
  padding: 0 5px;
}

.uber-index__child a {
  color: #6b655e;
  font-size: 14px;
}

.uber-index__title--has-header {
  font-weight: 700;
}

.uber-index__title .uber-index__child:first-child {
  border-top: 0;
  margin-top: 10px;
}

.uber-index__title--has-header .uber-index__child:first-child {
  border-top: 1px solid oColorsGetPaletteColor(pink-tint3);
  margin-top: 0;
}
