<!DOCTYPE html>
<html class="no-js" lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, 'js');</script>
        <meta name="copyright" content="Financial Times">
        <meta name="robots" content="index,follow">
        <meta name="author" content="FT Interactive Graphics">
        {#
        FB/OpenGraph #}
        <meta property="og:site_name" content="Financial Times"/>
        <meta property="og:type" content="article"/>
        <meta property="og:image" content="http://im.ft-static.com/m/img/social/og-ft-logo.png"/>
        <meta property="fb:page_id" content="8860325749" />
        {#
        google plus #}

        {% block meta %}{% endblock %}

        <link href="https://plus.google.com/113457471429583444041/" rel="publisher" />
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="http://im.ft-static.com/m/icons/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="http://im.ft-static.com/m/icons/apple-touch-icon.png">

        <meta name="format-detection" content="telephone=no" />

        <script src="//cdn.polyfill.io/v1/polyfill.min.js"></script>
        {% block headscripts %}{% endblock %}
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
        {% block header%}
        {% if showHeader %}
        {% include "./masthead.html" %}
        {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>
