/*lines*/
.conservative-edge,
.uup-edge {
  stroke: $conservative-dark;
}

.labour-edge {
  stroke: $labour-dark;
}

.lib-dem-edge,
.ap-edge {
  stroke: $liberal-democrat-dark;
}

.ukip-edge {
  stroke: $ukip-dark;
}

.snp-edge {
  stroke: $snp-dark;
}

.pc-edge {
  stroke: $plaid-cymru-dark;
}

.green-edge {
  stroke: $green-dark;
}

.sdlp-edge {
  stroke: $sdlp-dark;
}

.sinn-fein-edge {
  stroke: $sinn-fein-dark;
}

.dup-edge {
  stroke: $dup-dark;
}

.other-party-edge {
  stroke: $other-dark;
}



/*blocks*/
.conservative-area,
.uup-area {
  stroke: $conservative;
  fill: $conservative;
}

.labour-area {
  stroke: $labour;
  fill: $labour;
}

.lib-dem-area,
.ap-area {
  stroke: $liberal-democrat;
  fill: $liberal-democrat;
}

.ukip-area {
  stroke: $ukip;
  fill: $ukip;
}

.snp-area {
  stroke: $snp;
  fill: $snp;
}

.pc-area {
  stroke: $plaid-cymru;
  fill: $plaid-cymru;
}

.green-area {
  stroke: $green;
  fill: $green;
}

.dup-area {
  stroke: $dup;
  fill: $dup;
}

.sdlp-area {
  stroke: $sdlp;
  fill: $sdlp;
}

.sinn-fein-area {
  stroke: $sinn-fein;
  fill: $sinn-fein;
}

.other-party-area {
  stroke: $other;
  fill: $other;
}

/*text*/
.conservative-text,
.uup-text {
  stroke: none;
  fill: $conservative-dark;
}

.labour-text {
  stroke: none;
  fill: $labour-dark;
}

.lib-dem-text,
.ap-text {
  stroke: none;
  fill: $liberal-democrat-dark;
}

.ukip-text {
  stroke: none;
  fill: $ukip-dark;
}

.snp-text {
  stroke: none;
  fill: $snp-dark;
}

.pc-text {
  stroke: none;
  fill: $plaid-cymru-dark;
}

.green-text {
  stroke: none;
  fill: $green-dark;
}

.dup-text {
  stroke: none;
  fill: $dup-dark;
}

.sdlp-text {
  stroke: none;
  fill: $sdlp-dark;
}

.sinn-fein-text {
  stroke: none;
  fill: $sinn-fein-dark;
}

.other-party-text {
  stroke: none;
  fill: $other-dark;
}

/* html blcks */
.conservative-block,
.uup-block {
  background-color: $conservative;
  color: white;
}

.labour-block {
  background-color: $labour;
  color: white;
}

.lib-dem-block,
.ap-block {
  background-color: $liberal-democrat;
  color: white;
}

.ukip-block {
  background-color: $ukip;
  color: white;
}

.snp-block {
  background-color: $snp;
  color: white;
}

.pc-block {
  background-color: $plaid-cymru;
  color: white;
}

.green-block {
  background-color: $green;
  color: white;
}

.dup-block {
  background-color: $dup;
  color: white;
}

.sdlp-block {
  background-color: $sdlp;
  color: white;
}

.sinn-fein-block {
  background-color: $sinn-fein;
  color: white;
}

.other-party-block {
  background-color: $other;
  color: white;
}
