$conservative: #6da8e1;
$liberal-democrat: #ffc660;
$labour: #e25050;
$snp: #f2e24d;
$plaid-cymru: #827996;
$ukip: #ca6dbf;
$green: #65a68c;
$sinn-fein: #99bf70;
$dup: #827996;
$sdlp: #827996;

$conservative-dark: #0087dc;
$liberal-democrat-dark: #fdbb30;
$labour-dark: #bf1f1f;
$snp-dark: #dba436;
$plaid-cymru-dark: #54a19c;
$ukip-dark: #b3009d;
$green-dark: #008066;
$sinn-fein-dark: #008066;
$dup-dark: #443e71;
$sdlp-dark: #9cb157;

$other: #cccccc;
$other-dark: #999999;
