/*lines*/
.conservative-edge,
.uup-edge {
  stroke: $conservative-dark;
}

.labour-edge {
  stroke: $labour-dark;
}

.lib-dem-edge,
.ap-edge {
  stroke: $liberal-democrat-dark;
}

.ukip-edge {
  stroke: $ukip-dark;
}

.snp-edge {
  stroke: $snp-dark;
}

.pc-edge {
  stroke: $plaid-cymru-dark;
}

.green-edge {
  stroke: $green-dark;
}

.sdlp-edge {
  stroke: $sdlp-dark;
}

.sinn-fein-edge {
  stroke: $sinn-fein-dark;
}

.dup-edge {
  stroke: $dup-dark;
}

.other-party-edge {
  stroke: $other-dark;
}



/*blocks*/
.conservative-area,
.uup-area {
  stroke: $conservative;
  fill: $conservative;
}

.labour-area {
  stroke: $labour;
  fill: $labour;
}

.lib-dem-area,
.ap-area {
  stroke: $liberal-democrat;
  fill: $liberal-democrat;
}

.ukip-area {
  stroke: $ukip;
  fill: $ukip;
}

.snp-area {
  stroke: $snp;
  fill: $snp;
}

.pc-area {
  stroke: $plaid-cymru;
  fill: $plaid-cymru;
}

.green-area {
  stroke: $green;
  fill: $green;
}

.dup-area {
  stroke: $dup;
  fill: $dup;
}

.sdlp-area {
  stroke: $sdlp;
  fill: $sdlp;
}

.sinn-fein-area {
  stroke: $sinn-fein;
  fill: $sinn-fein;
}

.other-party-area {
  stroke: $other;
  fill: $other;
}

/* html blcks */
.conservative-block,
.uup-block {
  background-color: $conservative;
  colour: white;
}

.labour-block {
  background-color: $labour;
  colour: white;
}

.lib-dem-block,
.ap-block {
  background-color: $liberal-democrat;
  colour: white;
}

.ukip-block {
  background-color: $ukip;
  colour: white;
}

.snp-block {
  background-color: $snp;
  colour: white;
}

.pc-block {
  background-color: $plaid-cymru;
  colour: white;
}

.green-block {
  background-color: $green;
  colour: white;
}

.dup-block {
  background-color: $dup;
  colour: white;
}

.sdlp-block {
  background-color: $sdlp;
  colour: white;
}

.sinn-fein-block {
  background-color: $sinn-fein;
  colour: white;
}

.other-party-block {
  background-color: $other;
  colour: white;
}
